.name-text-box { 
    background: #6f95db;
    color: white;
    text-align: center;
    min-height: 50px;
    max-width: 150px;
    max-height: 50px;
}

.name-text {
    left: 50%;
    top: 50%;
}

.image-container {
    max-width: 200px;
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
}

.elem-image {
    height: 200px;
    width: 150px;
}

.ant-carousel {
    background: #364d79;
    margin-left: 50px;
    margin-right: 50px;
}

.ant-carousel .slick-slide {
    overflow: hidden;
  }
  
.ant-carousel .slick-slide h3 {
    color: #fff;
}
  