.container {
  
  /* justify-content: center; */
}

/* .header-container {
  display: flex;
  align-content: left;
  justify-content: space-between;
} */

.name-text-box {
  background: #000000;
  color: black;
  text-align: center;
  width: 325px;
  max-width: 325px;
}

.name-text {
  left: 50%;
  top: 50%;
  height: 100px;
}

.image-container {
  max-width: 325px;
  float: center;
  min-height: 425px;
}

.elem-image {
  height: 370px;
  width: 325px;
}

.ant-carousel {
  background: #fff;
  /* margin-left: 50px;
  margin-right: 50px; */
}

.ant-carousel .slick-slide {
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.arrow-left {
  float:left;
}

.arrow-right {
  float:right;
}
